@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');

.FooterContainer{
    margin-bottom: 30px;
    margin-right: 30px;

    position: fixed;
    bottom: 0;
    right: 0;
}

.FooterContainer p {
    font-size: .8rem;

    font-family: 'Orbitron', sans-serif;
}